{% extends 'base.html' %}

{% block meta %}
<title>Inventory</title>
{% endblock meta %}

{% block content %}
<h5>Applications Name:</h5>
<p>{{ applications }}</p>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>
<h5>Username: </h5>
<p>{{ username }}<p>

<p>Kamu menyimpan {{ item_count }} item di dalam aplikasi ini</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td><a href="{% url 'main:decrement' item.pk %}"><button>-</button></a> {{item.amount}} <a href="{% url 'main:increment' item.pk %}"><button>+</button></a></td>
                <td>{{item.description}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_item' item.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:delete' item.pk %}">
                        <button>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}